@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    
    margin:0;
    padding:0;
}

li, button{
 font-family: Arial, Helvetica, sans-serif;
 font-weight: 500;
 font-size: 16px;
 text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    flex-wrap: wrap;
}

.logo{
    width: 120px;
    height: 60px;
    cursor: pointer;
}

.nav_links{
    list-style-type:none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
    color: rgb(65, 61, 61);
    font-size: 20px;
}

.nav_links li:hover{
    text-decoration:#4226db underline 2px;
     cursor: pointer;
     color: black;
     font-weight: 600;
}

button{
    height:60px;
    padding: 9px 25px;
    background-color: #FFD8DB;
    border: none;
    border-radius: 50px;
    color: #A389CC;
    cursor: pointer;
}

main{
   display: flex; 
   justify-content: space-between;
   height: calc(100vh - 100px);
   align-items: center;
   justify-content: center;
}

#image{
    align-items:center;
    padding-top: 160px;
    display: inline;
} 

#head{
    font-size: 110px;
    padding-left: 60px;
    padding-top: 5px;
    margin-top: 400px;
   
   
}

#para{
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 500px;
    padding-left:70px ;
    padding-top: 10px;
    color: rgb(71, 67, 67);
}

#new{
    /* height:60px; */

    margin-left: 77px;
    background-color:#5243C0;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    cursor: pointer;
    display: inline;
    
}

#down-arrow{
    margin-top: 2px;
    margin-left: 77px;
    height:70px;
    width:50px;
}

table{
   margin-left:80px ;
   padding-left:1px;
   padding-top: 20px;
   margin-bottom: 140PX;
   cursor:pointer;
   background-color:#f7f7f7;
   border: none;
   height:100px;
   margin-top: 60px;
}

.date{
    color:gray;
    font-size: 18px;
    font-weight:10 ;
}

.check{
    border: none;
    padding-top: 0px;

    
}

.space{
    height: 50PX;
    width:120px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    padding-top: 1px;
    font-size: 14px;
}

.check:hover{
    background-color: white;
}

.box:hover{
    content: url("tick-blue.png");
  
}




